spring:
  config:
    import: optional:file:./UserData.txt

  datasource:
    url: jdbc:postgresql://localhost:8888/logway_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  database-platform: org.hibernate.dialect.PostgreSQLDialect
  properties:
    hibernate:
      jdbc:
        lob:
          non_contextual_creation: true
      dialect: org.hibernate.dialect.PostgreSQLDialect
  
  thymeleaf:
    cache: false
  
  web:
    resources:
      static-locations: classpath:/static/

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.jdbc.core.JdbcTemplate: DEBUG